<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='js/home/home.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/unifesp.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home.css') }}">

    <!--  BOOTSTRAP  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--  Font Awesome  -->
    <!--  https://www.w3schools.com/icons/icons_reference.asp  -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!--  Google Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Cover  -->
    <!--  https://getbootstrap.com/docs/4.0/examples/cover/  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">

    <!--  Portfolio Item  -->
    <!--  https://startbootstrap.com/snippets/portfolio-item/  -->
    <!--  https://startbootstrap.com/snippets/portfolio-one-column/  -->

    <title>Autonomous Car</title>
</head>


<body>
    <div class="container">
        <h1 class="my-4">Trabalho de Graduação
            <small>Thiago Sato</small>
        </h1>

        <hr>

        <div class="row">
            <div class="col-md-7" style="background-color:#404040">
                <h4 class="my-3">Calibrar rodas</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="my-3">Rodas dianteiras</h4>
                        <button type="button" class="btn btn-primary" onclick="calibration('front', 'calibration')">Iniciar</button>
                        <button type="button" class="btn btn-info" onclick="calibration('front', 'left')">Esquerda</button>
                        <button type="button" class="btn btn-info" onclick="calibration('front', 'right')">Direita</button>
                        <button type="button" class="btn btn-success" onclick="calibration('front', 'calibration_ok')">OK</button>
                    </div>

                    <div class="col-md-6">
                        <h4 class="my-3">Rodas traseiras</h4>
                        <button type="button" class="btn btn-primary" onclick="calibration('back', 'calibration')">Iniciar</button>
                        <button type="button" class="btn btn-info" onclick="calibration('back', 'left')">Esquerda</button>
                        <button type="button" class="btn btn-info" onclick="calibration('back', 'right')">Direita</button>
                        <button type="button" class="btn btn-success" onclick="calibration('back', 'calibration_ok')">OK</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="background-color:#4d4d4d">
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="my-3"><i class='fas fa-car'></i> Movimento do robô</h4>
                    </div>
                    <div class="form-group col-md-3" style="margin-top: 10px">
                        <button type="button" class="btn btn-info" onclick="speed_wheel_car()">
                            Salvar
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="speed-input">Velocidade</label>
                        <input type="number" class="form-control" id="speed-input" placeholder="Velocidade">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="wheel-input">Ângulo de esterçamento</label>
                        <input type="number" class="form-control" id="wheel-input" placeholder="Esterçamento das rodas">
                    </div>
                </div>

<!--                <div style="margin-top: 10px">-->
<!--                     <button type="button" class="btn btn-danger" onclick="commands_to_car('stop')">Frear</button>-->
<!--                     <button type="button" class="btn btn-info" onclick="commands_to_car('straight')">-->
<!--                        Rodas dianteiras em linha reta-->
<!--                     </button>-->
<!--                </div>-->

                <div style="margin-left: 65px">
                    <button class="btn" onclick="commands_to_car('forward')">
                        <i class='fas fa-arrow-circle-up' style='font-size:36px; color:white'></i>
                    </button>
                </div>
                <div>
                    <button class="btn" onclick="commands_to_car('left')">
                        <i class='fas fa-arrow-circle-left' style='font-size:36px; color:white'></i>
                    </button>
                    <button class="btn" onclick="commands_to_car('backward')">
                        <i class='fas fa-arrow-circle-down' style='font-size:36px; color:white'></i>
                    </button>
                    <button class="btn" onclick="commands_to_car('right')">
                        <i class='fas fa-arrow-circle-right' style='font-size:36px; color:white'></i>
                    </button>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <video id="my-video" class="img-fluid" width="750" controls>
                    <source src="get-video" type="video/mp4">
                </video>
            </div>
            <div class="col-md-4">
                <h4 class="my-3"><i class='fas fa-road'></i> Processamento</h4>
                <button type="button" class="btn btn-success" onclick="start_autonomous_car()">
                    <i class="far fa-play-circle"></i> Iniciar
                </button>
                <button type="button" class="btn btn-danger" onclick="stop_autonomous_car()">
                    <i class="far fa-stop-circle"></i> Parar
                </button>

                <h4 class="my-3"><i class='far fa-file-video'></i> Tipo de vídeo:</h4>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="image-type" id="video[0]" value="img-original">
                    <label class="form-check-label" for="video[0]">
                        Imagem original
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="image-type" id="video[1]", value="img-color">
                    <label class="form-check-label" for="video[1]">
                        Imagem com a cor reconhecida
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="image-type" id="video[2]", value="img-processed">
                    <label class="form-check-label" for="video[2]">
                        Pista reconhecida
                    </label>
                </div>

                <button type="button" class="btn btn-info" style="margin-top: 10px" onclick="change_option_video()">
                    Salvar opção de vídeo
                </button>

                <hr>

                <button type="button" class="btn btn-info" style="margin-top: 10px" onclick="update_video()">
                    Atualizar vídeo
                </button>

            </div>

<!--                <button>-->
<!--                    <a href="http://localhost:8081/video">Baixar video</a>-->
<!--                </button>-->
<!--                <button>-->
<!--                    <a href="http://localhost:8081/log">Baixar log</a>-->
<!--                </button>-->
        </div>

        <hr>


        <div class="row">
            <div class="col-md-10">
                <h4 class="my-3"><i class='fas fa-chart-bar'></i> Gráfico</h4>
            </div>
            <div class="form-group col-md-2" style="margin-top: 10px">
                <button type="button" class="btn btn-info">
                    Atualizar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="my-3"><i class='material-icons'>looks_one</i> Distância do centro x Tempo</h5>
            </div>
            <div class="col-md-6">
                <h5 class="my-3"><i class='material-icons'>looks_two</i> Velocidade x Tempo</h5>
            </div>
        </div>

        <hr>

        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p>[2019] Unifesp. São José dos Campos - SP. Thiago Sato.</p>
                <p>Trabalho de Graduação - Engenharia de Computação.</p>
            </div>
        </footer>
    </div>
</body>
</html>